<a href="https://colab.research.google.com/github/Darshan59063/Credit-Card-Fraudulent-Detection/blob/main/CreditCardFraud_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing files

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Transfering our csv file into pd dataframe

In [ ]:
card_data = pd.read_csv('/content/sample_data/creditcard.csv')

In [ ]:
card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
card_data.shape

(17918, 31)

In [ ]:
card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17913,29027,-0.422159,0.231118,1.666711,0.451976,-0.203598,0.097244,-0.039666,0.354218,0.062463,...,0.110909,0.435121,-0.056658,0.265867,-0.548204,0.734013,0.117023,0.130972,9.00,0.0
17914,29030,1.177387,-0.215585,0.202972,0.215323,-0.029312,0.601788,-0.297021,0.188082,0.436370,...,-0.055842,0.075903,-0.187120,-0.717798,0.555294,0.731531,-0.022112,-0.010929,25.00,0.0
17915,29030,-0.553746,0.880858,1.644821,-0.132657,0.120940,-0.267411,0.466892,0.222443,-0.639624,...,-0.133339,-0.348662,0.029947,0.199962,-0.328384,0.071511,0.275487,0.110195,0.89,0.0
17916,29030,-2.844632,3.717960,-7.165428,4.120419,-2.991039,-2.942326,-4.925187,2.204337,-2.663613,...,0.894495,-0.340246,0.012222,-0.059679,-0.104338,-0.295884,1.326228,0.322688,89.99,0.0
17917,29031,1.050204,0.078269,0.484733,1.349623,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17918 entries, 0 to 17917
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    17918 non-null  int64
 1   V1      17918 non-null  float64
 2   V2      17918 non-null  float64
 3   V3      17918 non-null  float64
 4   V4      17918 non-null  float64
 5   V5      17917 non-null  float64
 6   V6      17917 non-null  float64
 7   V7      17917 non-null  float64
 8   V8      17917 non-null  float64
 9   V9      17917 non-null  float64
 10  V10     17917 non-null  float64
 11  V11     17917 non-null  float64
 12  V12     17917 non-null  float64
 13  V13     17917 non-null  float64
 14  V14     17917 non-null  float64
 15  V15     17917 non-null  float64
 16  V16     17917 non-null  float64
 17  V17     17917 non-null  float64
 18  V18     17917 non-null  float64
 19  V19     17917 non-null  float64
 20  V20     17917 non-null  float64
 21  V21     17917 non-null  float64
 22  V22     17917 non-null  float64
 23  V23     17917 non-null  float64
 24  V24     17917 non-null  float64
 25  V25     17917 non-null  float64
 26  V26     17917 non-null  float64
 27  V27     17917 non-null  float64
 28  V28     17917 non-null  float64
 29  Amount  17917 non-null  float64
 30  Class   17917 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 4.2 MB

In [ ]:
card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
card_data['Class'].value_counts()

0.0    17836
1.0       81
Name: Class, dtype: int64

## Highly ununiform dataset as it contains more number of zeroes

In [ ]:
legal = card_data[card_data.Class == 0]

In [ ]:
fraud = card_data[card_data.Class == 1]

In [ ]:
legal.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
fraud.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17317,28625,-27.848181,15.598193,-28.923756,6.418442,-20.346228,-4.828202,-19.210896,18.329406,-3.668735,...,1.802149,-2.062934,-1.269843,0.165409,1.999499,-0.211059,1.324809,0.388090,99.99,1.0
17366,28658,-28.524268,15.876923,-29.468732,6.447591,-20.786000,-4.865613,-19.501084,18.748872,-3.642990,...,1.805770,-2.119376,-1.317450,0.169846,2.051687,-0.210502,1.301734,0.380246,99.99,1.0
17407,28692,-29.200329,16.155701,-30.013712,6.476731,-21.225810,-4.902997,-19.791248,19.168327,-3.617242,...,1.809371,-2.175815,-1.365104,0.174286,2.103868,-0.209944,1.278681,0.372393,99.99,1.0
17453,28726,-29.876366,16.434525,-30.558697,6.505862,-21.665654,-4.940356,-20.081391,19.587773,-3.591491,...,1.812954,-2.232252,-1.412803,0.178731,2.156042,-0.209385,1.255649,0.364530,99.99,1.0
17480,28755,-30.552380,16.713389,-31.103685,6.534984,-22.105532,-4.977692,-20.371514,20.007208,-3.565738,...,1.816520,-2.288686,-1.460544,0.183179,2.208209,-0.208824,1.232636,0.356660,99.99,1.0

In [ ]:
legal.shape

(17836, 31)

In [ ]:
fraud.shape

(81, 31)

## Making data uniform(same number of fraud and legal class)

In [ ]:
card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,13891.131980,-0.203851,0.228560,0.840631,0.263581,-0.117213,0.112151,-0.110725,-0.008454,0.752065,...,0.032646,-0.054930,-0.144997,-0.036871,0.015838,0.118904,0.035813,0.010352,0.006670,67.365025
1.0,16833.074074,-9.315066,6.779465,-13.052870,6.451318,-6.557541,-2.602613,-9.012856,4.730365,-3.087651,...,0.756424,0.549752,-0.423495,-0.398104,-0.277836,0.355688,0.177616,0.940693,0.090007,98.105926

### Legal_u is dataframe of legal dataset for uniform sampling of legal and fraud datasets

In [ ]:
legal_u = legal.sample(492)

In [ ]:
legal_u.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
171,110,-1.276830,-0.903557,1.477105,-2.582626,0.635981,-0.866537,1.138067,-0.924605,-0.221504,...,-0.482119,-0.182518,-0.614101,0.037650,0.793080,-0.724708,-0.616486,-0.485985,110.40,0.0
12030,20823,-5.373899,5.537306,-10.451813,5.831008,-5.209512,-3.658238,-9.526906,3.996788,-3.224948,...,1.550854,-0.446762,-0.080766,-0.019581,0.104116,-0.304290,1.954876,0.686027,1.00,0.0
4494,3794,-0.848435,1.537872,1.237296,0.070707,-0.017854,-0.455678,0.231228,-0.756123,0.958038,...,0.362772,-1.084428,0.112340,0.186183,-0.159542,0.028664,0.358153,0.145252,9.71,0.0
4218,3752,-0.319405,-0.046782,1.604235,-0.567693,-0.186771,-0.201650,-0.299477,0.005124,-0.091673,...,-0.091944,-0.247953,0.165553,-0.372651,-0.627858,-0.395892,0.122178,0.142617,38.70,0.0
2395,1957,-1.364899,1.537031,0.460226,1.146186,-0.386292,0.415553,-0.306054,1.209263,-0.481773,...,0.030373,0.168424,-0.098973,-0.321159,-0.026545,-0.207339,0.285645,0.106249,13.08,0.0

### Now merging legl_u and fraud

In [ ]:
dataset = pd.concat([legal_u, fraud], axis=0)
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
171,110,-1.276830,-0.903557,1.477105,-2.582626,0.635981,-0.866537,1.138067,-0.924605,-0.221504,...,-0.482119,-0.182518,-0.614101,0.037650,0.793080,-0.724708,-0.616486,-0.485985,110.40,0.0
12030,20823,-5.373899,5.537306,-10.451813,5.831008,-5.209512,-3.658238,-9.526906,3.996788,-3.224948,...,1.550854,-0.446762,-0.080766,-0.019581,0.104116,-0.304290,1.954876,0.686027,1.00,0.0
4494,3794,-0.848435,1.537872,1.237296,0.070707,-0.017854,-0.455678,0.231228,-0.756123,0.958038,...,0.362772,-1.084428,0.112340,0.186183,-0.159542,0.028664,0.358153,0.145252,9.71,0.0
4218,3752,-0.319405,-0.046782,1.604235,-0.567693,-0.186771,-0.201650,-0.299477,0.005124,-0.091673,...,-0.091944,-0.247953,0.165553,-0.372651,-0.627858,-0.395892,0.122178,0.142617,38.70,0.0
2395,1957,-1.364899,1.537031,0.460226,1.146186,-0.386292,0.415553,-0.306054,1.209263,-0.481773,...,0.030373,0.168424,-0.098973,-0.321159,-0.026545,-0.207339,0.285645,0.106249,13.08,0.0

In [ ]:
dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17317,28625,-27.848181,15.598193,-28.923756,6.418442,-20.346228,-4.828202,-19.210896,18.329406,-3.668735,...,1.802149,-2.062934,-1.269843,0.165409,1.999499,-0.211059,1.324809,0.388090,99.99,1.0
17366,28658,-28.524268,15.876923,-29.468732,6.447591,-20.786000,-4.865613,-19.501084,18.748872,-3.642990,...,1.805770,-2.119376,-1.317450,0.169846,2.051687,-0.210502,1.301734,0.380246,99.99,1.0
17407,28692,-29.200329,16.155701,-30.013712,6.476731,-21.225810,-4.902997,-19.791248,19.168327,-3.617242,...,1.809371,-2.175815,-1.365104,0.174286,2.103868,-0.209944,1.278681,0.372393,99.99,1.0
17453,28726,-29.876366,16.434525,-30.558697,6.505862,-21.665654,-4.940356,-20.081391,19.587773,-3.591491,...,1.812954,-2.232252,-1.412803,0.178731,2.156042,-0.209385,1.255649,0.364530,99.99,1.0
17480,28755,-30.552380,16.713389,-31.103685,6.534984,-22.105532,-4.977692,-20.371514,20.007208,-3.565738,...,1.816520,-2.288686,-1.460544,0.183179,2.208209,-0.208824,1.232636,0.356660,99.99,1.0

In [ ]:
dataset['Class'].value_counts()

0.0    492
1.0     81
Name: Class, dtype: int64

In [ ]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
171,110,-1.276830,-0.903557,1.477105,-2.582626,0.635981,-0.866537,1.138067,-0.924605,-0.221504,...,-0.482119,-0.182518,-0.614101,0.037650,0.793080,-0.724708,-0.616486,-0.485985,110.40,0.0
12030,20823,-5.373899,5.537306,-10.451813,5.831008,-5.209512,-3.658238,-9.526906,3.996788,-3.224948,...,1.550854,-0.446762,-0.080766,-0.019581,0.104116,-0.304290,1.954876,0.686027,1.00,0.0
4494,3794,-0.848435,1.537872,1.237296,0.070707,-0.017854,-0.455678,0.231228,-0.756123,0.958038,...,0.362772,-1.084428,0.112340,0.186183,-0.159542,0.028664,0.358153,0.145252,9.71,0.0
4218,3752,-0.319405,-0.046782,1.604235,-0.567693,-0.186771,-0.201650,-0.299477,0.005124,-0.091673,...,-0.091944,-0.247953,0.165553,-0.372651,-0.627858,-0.395892,0.122178,0.142617,38.70,0.0
2395,1957,-1.364899,1.537031,0.460226,1.146186,-0.386292,0.415553,-0.306054,1.209263,-0.481773,...,0.030373,0.168424,-0.098973,-0.321159,-0.026545,-0.207339,0.285645,0.106249,13.08,0.0

In [ ]:
dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,14490.099593,-0.235389,0.239672,0.767368,0.226320,-0.092073,0.122624,-0.136757,-0.014534,0.708587,...,0.012521,-0.014703,-0.192816,-0.016034,0.025207,0.083005,0.013620,-0.004801,0.014974,65.594207
1.0,16833.074074,-9.315066,6.779465,-13.052870,6.451318,-6.557541,-2.602613,-9.012856,4.730365,-3.087651,...,0.756424,0.549752,-0.423495,-0.398104,-0.277836,0.355688,0.177616,0.940693,0.090007,98.105926

In [ ]:
Y = dataset['Class']

In [ ]:
X = dataset.drop(columns = 'Class', axis = 1)

## Implementing model by splitting our refined sample and fitting it in suitable model

In [ ]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state = 5)

In [ ]:
print(X.shape, Xtrain.shape,  Xtest.shape)

(573, 30) (458, 30) (115, 30)

In [ ]:
Xtrain.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
17407,28692,-29.200329,16.155701,-30.013712,6.476731,-21.225810,-4.902997,-19.791248,19.168327,-3.617242,...,1.715862,1.809371,-2.175815,-1.365104,0.174286,2.103868,-0.209944,1.278681,0.372393,99.99
10123,15426,0.904700,0.012457,0.405797,1.526228,-0.451302,-1.029826,0.403888,-0.420736,1.111306,...,0.188190,0.007578,-0.025064,-0.202045,0.692247,0.585654,-0.407445,-0.038948,0.047747,170.14
16243,27648,1.232946,0.323972,0.431306,0.775280,-0.578862,-1.272624,0.057034,-0.193985,0.092070,...,-0.125964,-0.272401,-0.814222,0.176117,0.656687,0.154310,0.076022,-0.026183,0.032966,1.79
15578,26971,-0.654674,1.232406,0.811138,0.726019,-0.059499,-0.267425,0.684166,0.394674,-1.243318,...,0.046836,-0.230751,-0.967791,0.294276,-0.066828,-0.621788,-0.858839,0.023625,0.102235,66.43
5457,5457,-0.492265,0.089032,1.595877,0.170951,0.307500,1.015873,-0.127518,0.200519,1.540533,...,0.310625,0.078119,0.507290,-0.015227,-1.293042,-0.482470,0.766727,0.111378,0.153118,86.28

## Using logistic regression model

In [ ]:
md = LogisticRegression()

##Training LogisticRegression model by training data

In [ ]:
md.fit(Xtrain, Ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

## Accuracy score of training data

In [ ]:
Ytrainpred = md.predict(Xtrain)
trainingaccuracy  = accuracy_score(Ytrainpred, Ytrain)
print('accuracy score of training data', trainingaccuracy )

accuracy score of training data 0.9672489082969432

## Accuracy score of test data

In [ ]:
Ytestpred = md.predict(Xtest)
trainingaccuracy  = accuracy_score(Ytestpred, Ytest)
print('accuracy score of test data', trainingaccuracy )

accuracy score of test data 0.9739130434782609

## Training KNN model by training data

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(Xtrain,Ytrain)

KNeighborsClassifier(n_neighbors=3)

## Accuracy score of training data

In [ ]:
Ytrainpred = knn.predict(Xtrain)
trainingaccuracy  = accuracy_score(Ytrainpred, Ytrain)
print('accuracy score of training data', trainingaccuracy )

accuracy score of training data 0.925764192139738

## Accuracy score of test data

In [ ]:
Ytestpred = knn.predict(Xtest)
trainingaccuracy  = accuracy_score(Ytestpred, Ytest)
print('accuracy score of test data', trainingaccuracy )

accuracy score of test data 0.8434782608695652

We got highest accuracy in LogisticRegression  model
so we will proceed with LogisticRegression  as our final model with accuracy of around 90%

## Hypertuning Parameter of Logistic Regression Model

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

pipelineLR = make_pipeline(StandardScaler(), LogisticRegression(random_state=1, penalty='l2', solver='lbfgs'))

# Create the parameter grid

param_grid_lr = [{
    'logisticregression__C': [0.001, 0.01, 0.05, 0.1, 0.5, 1.0, 10.0],
}]

# Create an instance of GridSearch Cross-validation estimator

gsLR = GridSearchCV(estimator=pipelineLR,
                     param_grid = param_grid_lr,
                     scoring='accuracy',
                     cv=10,
                     refit=True,
                     n_jobs=1)

# Train the LogisticRegression Classifier

gsLR = gsLR.fit(Xtrain, Ytrain)

# Print the training score of the best model

print(gsLR.best_score_)

# Print the model parameters of the best model

print(gsLR.best_params_)

# Print the test score of the best model

clfLR = gsLR.best_estimator_
print('Test accuracy: %.3f' % clfLR.score(Xtest, Ytest))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

0.9715458937198068
{'logisticregression__C': 0.5}
Test accuracy: 0.983

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

##After hypertuning parameter of Logistic Regression model we get Test accuracy around 94 %

## Hypertuning Parameter of KNN Model

In [ ]:
# Create a pipeline

pipeline = make_pipeline(StandardScaler(), KNeighborsClassifier())

# Create the parameter grid

param_grid = [{
    'kneighborsclassifier__n_neighbors': [2, 3, 4, 5, 6, 7, 8, 9, 10],
    'kneighborsclassifier__p': [1, 2],
    'kneighborsclassifier__weights': ['uniform', 'distance'],
    'kneighborsclassifier__algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
}]

# Create a grid search instance

gs = GridSearchCV(pipeline, param_grid = param_grid,
                  scoring='accuracy',
                  refit=True,
                  cv=10,
                  verbose=1,
                  n_jobs=2)

# Fit the most optimal model

gs.fit(Xtrain, Ytrain)

# Print the best model parameters and scores

print('Best Score: %.3f' % gs.best_score_, '\nBest Parameters: ', gs.best_params_)

# Print the model score for test data

print('Score: %.3f' % gs.score(Xtest, Ytest))

Fitting 10 folds for each of 144 candidates, totalling 1440 fits
Best Score: 0.982
Best Parameters:  {'kneighborsclassifier__algorithm': 'auto', 'kneighborsclassifier__n_neighbors': 2, 'kneighborsclassifier__p': 1, 'kneighborsclassifier__weights': 'distance'}
Score: 1.000

## After hypertuning parameter of KNN model we get Test accuracy around 94 %

#### after hypertuning parameters of KNN and LogisticRegression Model .Logistic REgression model is giving best accuracy score.Hence we will go with Logistic Regression Model

#Accuracy of model is 94%